section div {
    margin: auto;
}

.com {
    height: 100dvh;
    background: center/cover url(../img/Green\ and\ White\ Modern\ Minimalist\ Nature\ Presentation.jpg) no-repeat;
    color: #f9f9f9;
    background-attachment: fixed;
}

.comedoresSection {
    padding: 200px 100px 0px 100px;
    font-size: 20px;

}

.comedoresSection p {
    margin-top: 32px;
    max-width: 600px;
    line-height: 32px;
    font-size: 18px;
}

#Tipicos {
    display: flex;
    margin: 30px 70px;
    background-image: url(../img/Fondo\ Zoom\ Org치nico\ Verde.png);
    border-radius: 3em 1em / 0.5em 3em;
    padding: 20px;
}

#Tipicos div {
    text-align: center;
    width: 680px;
    align-self: center;
    margin: auto;
}

#Tipicos img {
    margin: 20px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

#Alms {
    display: flex;
    margin: 30px 70px;
    background-image: url(../img/Fondo\ Zoom\ Org치nico\ Verde.png);
    border-radius: 3em 1em / 0.5em 3em;
    padding: 20px;
}

#Alms div {
    text-align: center;
    width: 680px;
    align-self: center;
    margin: auto;
}

#Alms img {
    margin: 20px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

#sorbetes {
    display: flex;
    margin: 30px 70px;
    background-image: url(../img/Fondo\ Zoom\ Org치nico\ Verde.png);
    border-radius: 3em 1em / 0.5em 3em;
    padding: 20px;
}

#sorbetes div {
    text-align: center;
    width: 680px;
    align-self: center;
    margin: auto;
}

#sorbetes img {
    margin: 20px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#menu {
    display: flex;
    margin: 30px 70px;
    background-image: url(../img/Fondo\ Zoom\ Org치nico\ Verde.png);
    border-radius: 3em 1em / 0.5em 3em;
    padding: 20px;
}

#menu div {
    text-align: center;
    width: 680px;
    align-self: center;
    margin: auto;
}