section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section a {
    display: inline-block;
    overflow: hidden;
}

section img {
    width: 297px;
    height: 385px;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 10px;
}

section img:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: contrast(120%);
    cursor: pointer;
}

.botonVolver {
    position: fixed;
    align-self: center;
    top: -15px;
    left: 20px;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 32px;
    margin-top: 40px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #025535;
}

.botonVolver:hover {
    transform: scale(1.1);
}