body {
    background-color: #9CCC65;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #689F38;
    background-size: cover;
    color: rgb(121, 6, 6);
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.btn {
    display: inline-block;
    background: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

section {

    background: white;
    margin: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.imagenes img {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}