body {
    background-color: #dcefe3;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("../img/topography.svg");


}

header {
    position: fixed;
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: #3d8c6a;
}

h1 {
    font-size: 50px;
}

.hero {
    height: 100dvh;
    background: center/cover url("../img/hero.png") no-repeat;
    color: white;
    background-attachment: fixed;
}

.heroSection {
    text-align: justify;
    padding: 180px 0px 0px 180px;

}

button {
    background: #2b7053;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
}

#historia {
    display: flex;
    margin: 30px 70px;
}

#historia div {
    text-align: justify;
    width: 680px;
    align-self: center;
    margin: auto;
}

#historia img {
    margin: 20px;
    border-radius: 15px;
}

#galeria {
    text-align: center;
    margin: 30px;
}

.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    margin: 30px;
}

.img1 {
    grid-row: span 8 / span 8;
    width: 495px;
    height: 498px;
    border-radius: 15px;
}

.img2 {
    grid-row: span 4 / span 4;
    width: 495px;
    height: 243px;
    border-radius: 15px;
}

.img3 {
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 5;
    width: 495px;
    height: 243px;
    border-radius: 15px;
}

.img4 {
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 1;
    width: 370px;
    height: 243px;
    border-radius: 15px;
}

.img5 {
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 5;
    width: 370px;
    height: 243px;
    border-radius: 15px;
}

#ubicacion {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin: 30px 70px;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgba(35, 89, 69, 1) 100%);
    color: #dcefe3;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    /* background: #333; */
    color: white;
}