/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f8f1;
    color: #2d6a4f;
}

section {
    scroll-margin-top: 70px;
}

header {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 20px;
    z-index: 1000;
}

header nav {
    width: 75%;
    margin-inline: auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #52b788;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #1b4332;
}

h2 {
    font-size: 35px;
    color: #1b4332;
}

.com {
    height: 100dvh;
    background: center/cover url("../PaginaLMSW/restaurantes/img/2rst.jpg") no-repeat;
    color: #f9f9f9;
    background-attachment: fixed;
}

.comedoresSection {
    padding: 200px 100px 0px 100px;
    font-size: 20px;
}

.comedoresSection p {
    margin-top: 32px;
    max-width: 600px;
    line-height: 32px;
    font-size: 18px;
}

button {
    background: #025535;
    color: #f9f9f9;
    border: none;
    padding: 15px 30px;
    border-radius: 32px;
    margin-top: 40px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #40916c;
}

#tipicos {
    display: flex;
    margin: 30px 70px;
    background-color: #AAAE7F;
    border-radius: 20px;
    padding: 20px;
}

#tipicos div {
    text-align: center;
    width: 680px;
    align-self: center;
    margin: auto;
}

#tipicos img {
    margin: 20px;
    border-radius: 15px;
    width: 600px;
    height: 400px;
}

#galeria {
    text-align: center;
    margin: 30px;
    background-color: #7A9533;
    padding: 20px;
    border-radius: 15px;
}

.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    margin: 30px;
}

#ubicacion {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin: 30px 0 0 0;
    background: #a6bd8f;
}

footer {
    text-align: center;
    padding: 20px;
    background: #143109;
    color: white;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}